/* Reset basic styles */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f8f8;
    color: #222;
}

/* Container section */
#app {
    width: 100%;
    max-width: 100%;
    padding: 20px 40px;
    margin: 0;
}

/* Header */
#app .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
hr {
    border: none;
    border-top: 1px solid #bbb;
    margin: 24px 0;
    width: 100%;
}
#app .header strong {
    font-size: 1.5rem;
}

.welcome{
    font-size: 1.2rem;
    color: #aa4f4f;
    margin-bottom: 20px;
    
}
button {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

/* Columns */
.columns {
    max-width:100%;
    display: flex;
}

.column {
    flex: 1;
}
/* Boxes for forms */
.column > div {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.column > div strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

/* Search bar */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* Recipe cards */
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-header-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 0.95rem;
    line-height: 1.5;
}

.card-content > div {
    margin-bottom: 10px;
}

/* Images */
.card img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* Utilities */
.mt-2 { margin-top: 8px; }
.mb-4 { margin-bottom: 16px; }
.mb-5 { margin-bottom: 24px; }

/* modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* scroll */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */

}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 24px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: relative;
}

.close {
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.close:hover {
    color: #e74c3c;
}
