<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body id="app">
    <div class="section">
        <strong>Welcome [[=user['first_name']]]</strong>
        <form action="[[=URL('auth/logout')]]" method="post" style="display:inline;">
            <button type="submit" class="button is-light">Logout</button>
        </form>
    </div>
    <div class="columns">
        <div class="column">
            <div>
                <strong>Ingredients</strong>
                [[=ingredients_form]]
            </div>
            <div>-------------------------bad divider-----------------------------------</div>
            <div>
                <strong>Recipes</strong>
                [[=recipes_form]]
            </div>
        </div>
        <div class="column">

            <div>
                <strong>Search bar/ recipe cards here?</strong>
            </div>
            <div>
                <article v-for="recipe in filtered_recipes">
                    <!-- display all recipe cards that match the search query, which is currently nothing. -->
                    <div class="card">
                        <div class="card-header-title">
                            <div class="card-header-title">{{recipe.name}}</div>
                            <div class="card-content">Type: {{recipe.type}}</div>
                        </div>
                        <div>-------------bad divider----------</div>
                        <div class="card-content">
                            <div v-if="recipe.image">
                                <div>supposed to be an image but it doesn't work idk why</div>
                                <div>{{recipe.image}}</div>
                            </div>
                            <div><strong>Description: </strong> </div>
                            <div>{{recipe.description}}</div>
                            <div><strong>Instructions: </strong> </div>
                            <div>{{recipe.instruction_steps}}</div>
                            <div><strong>Servings: </strong> {{recipe.servings}}</div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.prod.min.js"></script>
    <script src="[[=URL('static', 'js/index.js')]]"></script>
</body>

</html>